@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Poppins';
  font-weight: 200;
}


.nav-bar{
  display: flex;
  align-items:flex-end;
  justify-content: space-between;
  height: 16vh;
  width: 100%;
  border-bottom: 1px solid rgb(218, 213, 213);
  padding:0.5rem 1.5rem
}
.nav-bar a {
  margin-left:0.5rem;
  text-decoration: none;
  color: black;
}
.nav-bar .logo{
  height: 100%;

}

.text h1{
text-transform: uppercase;

}
.hamburger{
  display:none
}
